# Ignore virtual environments
.venv/
venv/
myenv/

# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore system files
*.swp
*.swo
# Ignore Python virtual environments
myenv/
*.pyc
__pycache__/
.idea/
*.log

# Ignore
.env

